.healthy {
    color: #26ae61;
    background: #d5ffe7;
  }
  .pending {
    color: #635a05;
    background: #f0e797;
  }
  .healthy,.pending {
      font-size: 11px;
      font-weight: 500;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 50px;
      cursor: pointer;
      text-transform: uppercase;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
  }

  button,
  a {
    cursor: pointer;
  }

  .project-dashbox-wrapper {
    padding: 0px 0px 0px 0px !important ;
    
  }

  .app-dashcontent {
    display: flex;
    overflow: hidden;
    padding: 16px 24px 24px 0;
  }

  .projects-dashsection {
    flex: 2;
    background-color: #fff;
    border-radius: 32px;
    padding: 0px 32px 0 32px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px; 
  }

  .messages-dashsection {
    padding-bottom: 32px;
    background-color: #fff;
    margin-left: 24px;
    flex: 1;
    width: 100%;
    border-radius: 30px;
    overflow: auto;
    margin: 10px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
  }

  .projects-section-dashheader {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 32px 24px 0 24px;
    background-color: #fff;
  }

  .message-dashbox {
    border-top: 1px solid #e9ebf0;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .message-dashheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .message-dashcontent {
    padding-left: 16px;
    width: 100%;
  }

  .dashbox-content-header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    opacity: 1;
  }

  .dashbox-content-subheader {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
  }

  .project-dashbox {
    /* padding: 0px 0px 0px 5px !important ; */
    min-height: 125px;
    margin: 5px;
    border-radius : 5px;
    padding : 10px !important;
    height: auto;
  }

  @media screen and (max-width: 980px) {
    .project-dashboxes.jsGridView .project-dashbox-wrapper {
      width: 50%;
    }
  }

  @media screen and (max-width: 880px) {
    .messages-dashsection {
      transform: translateX(100%);
      position: absolute;
      opacity: 0;
      top: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 520px) {
    .projects-dashsection {
      overflow: auto;
    }
    .project-dashboxes {
      overflow-y: visible;
    }

    .app-dashcontent {
      padding: 16px 12px 24px 12px;
    }

    .project-dashboxes.jsGridView .project-dashbox-wrapper {
      width: 100%;
    }

    .projects-dashsection {
      padding: 24px 16px 0 16px;
    }

    .dashbox-content-header {
      font-size: 12px;
      line-height: 16px;
    }

    .dashbox-content-subheader {
      font-size: 12px;
      line-height: 16px;
    }
  }


  .custom-btn {
    width: 456px;
    height: auto;
    border-radius: 5px;
    padding: 10px 0px;
    font-weight: 600;
    background-color : #47a0cdad;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;  
    outline: none;
  }

  .btn-16 {
    border: none;
    color: #212529;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }
